# OS
.DS_Store
Thumbs.db

# Node / Python / Java caches
node_modules/
__pycache__/
*.pyc

# venv
.venv/

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Gradle
.gradle/
build/

# Env
.env
.env.*
